body{
    text-align: center;
}
table {
    margin: auto;
  
    
}
.board {
    border-collapse: separate;
    border-spacing: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(190, 192, 192);
}

.mine{
    background-color: rgb(239, 37, 37);
    
}

.shown{
    background-color: rgb(37, 131, 239);
}